In [1]:
import pandas as pd
import numpy as np
from pprint import pprint
from sqlalchemy import create_engine
from keys import sqlkey

In [2]:
#READ IN CSV COLUMNS FOR FIRST FILE

data = pd.read_csv ('countypres_2000-2016.csv') 
election_df = pd.DataFrame(data)
election_df

,year,state,state_po,county,fips,office,candidate,party,candidatevotes,totalvotes,version
0,2000,Alabama,AL,Autauga,1001.0,President,Al Gore,democrat,4942.0,17208,20191203
1,2000,Alabama,AL,Autauga,1001.0,President,George W. Bush,republican,11993.0,17208,20191203
2,2000,Alabama,AL,Autauga,1001.0,President,Ralph Nader,green,160.0,17208,20191203
3,2000,Alabama,AL,Autauga,1001.0,President,Other,NaN,113.0,17208,20191203
4,2000,Alabama,AL,Baldwin,1003.0,President,Al Gore,democrat,13997.0,56480,20191203
...,...,...,...,...,...,...,...,...,...,...,...
50519,2016,Alaska,AK,District 40,2040.0,President,Donald Trump,republican,1377.0,4610,20191203
50520,2016,Alaska,AK,District 40,2040.0,President,Other,NaN,895.0,4610,20191203
50521,2016,Alaska,NaN,District 99,2099.0,President,Hillary Clinton,democrat,274.0,5056,20191203
50522,2016,Alaska,NaN,District 99,2099.0,President,Donald Trump,republican,40.0,5056,20191203
50523,2016,Alaska,NaN,District 99,2099.0,President,Other,NaN,28.0,5056,20191203

In [3]:
#CREATE DATABASE CONNECTION
engine = create_engine('postgresql://postgres:'+sqlkey+'@localhost:5432/election_data')
connection = engine.connect()

In [4]:
#PUSH DATAFRAME TO POSTGRESQL
election_df.to_sql(name='elections', con=connection, if_exists='append', index=False)